# install python dep
pyrealsense2
ultralytics
# opencv-python
# this already include opencv-python
opencv-contrib-python==4.11.0.86
# Azure Kinect DK
pyk4a

# for tensorrt conversion
onnx==1.17.0
onnxslim==0.1.58
onnxruntime-gpu
tensorrt==10.12.0.36

# numpy 1.x is require for cv_bridge since it was compiled with it
numpy==1.26.4
